body {
    font-family: 'Playfair Display', serif;
    background-image: url(../img/24652959_i759.jpg);
    background-size: 500px;
    font-size: 1.3rem;
    line-height: 40px;
    overflow-x: hidden;
}

.navbar {
    background-color: #b2956a;
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
    border-bottom: #121011 4px double;
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

.navbar-nav {
    width: 100%;
}

.logo {
    width: 10%;
}


/* ------------------------------------------------------------------------------------------------- */

/* GENERAL */

::-webkit-scrollbar {
    width: 0.4em;
    background-color: #121011;
}

::-webkit-scrollbar-thumb {
    background-color: #4d433a;
    outline: 1px solid #4d433a;
}

html {
    scrollbar-color: #4d433a #121011;
    scrollbar-width: thin;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.3rem;
}

h2, h3, h4 {
    font-family: 'Pacifico', cursive;
}

a {
    text-decoration: none;
    color: #b2956a;
}

p {
    text-align: justify;
}

li {
    list-style: url('/public/assets/img/grande-fleur.png');
}

span {
    font-weight: bold;
}

.bi {
    font-size: 3rem;
}

main {
    margin-top: 15vh;
    
}

.nameSection {
    /* backdrop-filter: blur(3px); */
    background-color: #121011b5;
    color: #b2956a;
    border: #b2956a 4px double;
    box-shadow: #121011 0px 8px 50px 0px, #121011 0px 2px 50px 0px;
}

#about, #hobbies {
    background-color: #121011b5;
    color: #b2956a;
    border: #b2956a 3px dotted;
    box-shadow: #121011 0px 8px 50px 0px, #121011 0px 2px 50px 0px;
}

#skills, #portfolio {
    /* background-color: #46312081; */
    background-color: #121011b5;
    /* background-color: transparent;
    backdrop-filter: blur(3px); */
    color: #b2956a;
    border: #b2956a 3px dotted;
    box-shadow: #121011 0px 8px 50px 0px, #121011 0px 2px 50px 0px;
}

#journey, #socialNetwork {
    /* background-color: #b2956a; */
    background-color: #121011b5;
    color: #b2956a;
    /* border: #121011 3px dotted; */
    border: #b2956a 3px dotted;
    box-shadow: #121011 0px 8px 50px 0px, #121011 0px 2px 50px 0px;
}

footer {
    background-color: #121011b5;
    color: #b2956a;
    border: #b2956a 2px dotted;
    box-shadow: #121011 0px 8px 50px 0px, #121011 0px 2px 50px 0px;
}


/* ------------------------------------------------------------------------------------------------- */

/* A PROPOS */

.infoContact li {
    list-style: none;
}

.infoContact a:hover {
    color: #ddcaac;
}

.infoIcon, .socialNetworkIcon {
    font-size: 3rem;
}

.contact {
    padding: 0;
    font-size: 1rem;
}

.downloadCv {
    border: #b2956a 2px dotted;
    color: #b2956a;
    transition: 2s;
}

.downloadCv:hover {
    background-color: #b2956a;
    border: #121011 2px dotted;
    color: #121011 !important;
    transition: 1s;
}


/* ------------------------------------------------------------------------------------------------- */

/* COMPETENCES */

.containerLanguages {
    position: relative;
    width: 280px;
    height: 280px;
    background-color: #121011;
    background-image: url(../img/24652959_i759.jpg);
    background-size: 500px;
    border: #b2956a 2px dotted;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    border-radius: 50%;
}

.btnLanguages {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #b2956a;
    border: #463120 5px double;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    cursor: pointer;
    animation: pulse 2s infinite;
}

.languagesMenu {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #b2956a;
    border: #121011 2px dotted;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.containerLanguages.active .html {
    top: 15%;
}

.containerLanguages.active .css {
    left: 17%;
    top: 40%;
}

.containerLanguages.active .js {
    left: 83%;
    top: 40%;
}

.containerLanguages.active .php {
    top: 78%;
    left: 30%;
}

.containerLanguages.active .sql {
    top: 78%;
    left: 70%;
}

.iconLanguages {
    width: 50px;
}

.js img {
    width: 45px;
}

.containerLanguages .languagesMenu {
    transition: all 1s 0.3s ease-in-out;
}

.row hr {
    width: 80%;
}

.objectiveIcon {
    font-size: 3.5rem;
}

.personnalityIcon {
    width: 25%;
    border: #b2956a 5px double;
    border-radius: 50%;
    background-color: #121011;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.personnalityIcon:hover {
    border: #121011 5px double;
    background-color: #b2956a;
    box-shadow: none;
    animation: pulse 1.5s 1;
}

/* ------------------------------------------------------------------------------------------------- */

/* PARCOURS */

#journey {
    min-height: 80vh;
}

.journeyDescription {
    background-color: #121011;
    /* border: #b2956a 1px dotted; */
    color: #b2956a;
    width: 80%;
    height: 50vh;
    overflow-y: scroll;
    scrollbar-color: #4d433a #121011;
    scrollbar-width: thin;
}

.stepJourney {
    width: 50%;
}

.form-range::-webkit-slider-thumb {
    background-color: #4d433a;
    box-shadow: #4d433a 0 0 4px;
    border: #ccac90 1px solid;
    box-shadow: #121011 0px 8px 50px 0px, #121011 0px 2px 50px 0px;
    height: 25px;
    width: 25px;
}

.form-range::-moz-range-thumb {
    background-color: #4d433a;
    box-shadow: #4d433a 0 0 4px;
    border: #ccac90 1px solid;
    box-shadow: #121011 0px 8px 50px 0px, #121011 0px 2px 50px 0px;
    height: 25px;
    width: 25px;
}

.form-range:active::-webkit-slider-thumb {
    background-color: #ccac90;
    box-shadow: #4d433a 0 0 0 2px;
}

.form-range:active::-moz-range-thumb {
    background-color: #ccac90;
    box-shadow: #4d433a 0 0 0 2px;
}

.form-range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 1px #121011, 0 0 0 0.25rem rgba(131, 112, 78, 0.61);
}

.form-range:focus::-moz-range-thumb {
    box-shadow: 0 0 0 1px #121011, 0 0 0 0.25rem rgba(131, 112, 78, 0.61);
}

.form-range::-webkit-slider-runnable-track {
    background-color: #121011;
    background-color: #b2956a;
    height: 15px;
}

.form-range::-moz-range-track {
    background-color: #121011;
    background-color: #b2956a;
    height: 15px;
}


/* ------------------------------------------------------------------------------------------------- */

/* HOBBIES */


input[type="image"] {
    width: 28%;
    border: #463120 5px double;
    border-radius: 50%;
}

.hobbiesDescription {
    background-color: #b2956a;
    color: #121011;
    border: #463120 10px double;
    min-height: 20vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.hobby.active {
    border: #b2956a 5px double;
	animation: shadowAvatar 5s infinite !important;
}


/* ------------------------------------------------------------------------------------------------- */

/* PORTFOLIO */

.card {
    width: 90%;
    background-color: #121011;
    border: #b2956a 2px dotted;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.card img {
    height: 45vh;
    object-fit: cover;
}

.card-body {
    height: 55%;
}

.badgeSection {
    width: 100%;
}

.badge {
    background-color:#463120;
    color: #ddcaac;
}

.btnCard {
    background-color: #b2956a;
    color: #121011;
    transition: 1s;
}

.btnCard:hover {
    background-color: #463120;
    color: #b2956a;
    transition: 1s;
}

.modal-content {
    background-color: #121011;
}

.modal-header {
    border-bottom: #463120 3px solid;
}

.modal-footer {
    border-top: #463120 3px solid;
}

.btn-close {
    background-color: #b2956a;
    opacity: 1;
    border-radius: 50%;
}

.carousel-caption {
    backdrop-filter: blur(5px);
    background-color: #33312d60;
}

.carousel-caption p {
    text-align: center !important;
}


/* ------------------------------------------------------------------------------------------------- */

/* RESEAUX SOCIAUX */

article {
    border: #b2956a 3px dotted;
    border-radius: 20px;
}

#socialNetwork a {
    color: #b2956a;
}

.writtingSite {
    background-color: #463120;
    transition: 1s;
}

.writtingSite a {
    color: #b2956a !important;
    font-size: 1.2rem;
}

.writtingSite:hover {
    background-color: #121011;
    transition: 1s;
}



/* ANIMATION SCROLL */

.leftSection {
    transform: translate(-100%);
    opacity: 0;
    transition: transform 1.2s ease-in-out;
    transition: opacity 1.2 ease-in-out;
}

.rightSection {
    transform: translate(+100%);
    opacity: 0;
    transition: transform 1.2s ease-in-out;
    transition: opacity 1.2 ease-in-out;
}

.action {
    transform: none;
    opacity: 1;
}

/* ------------------------------------------------------------------------------------------------- */

/* KEYFRAMES */

@keyframes shadowAvatar {
    50% {box-shadow: 0px 0px 20px #b2956a;}
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgb(178, 149, 106, 0.7);
	}

	70% {
		box-shadow: 0 0 0 20px rgb(178, 149, 106, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgb(178, 149, 106, 0);
	}
}


/* MEDIA QUERIES */


@media screen and (min-width: 768px) {

    .contact {
        font-size: 1.3rem;
    }

    input[type="image"] {
        width: 15%;
    }

    .personnalityIcon {
        width: 35%;
    }
    
}

@media screen and (min-width: 992px) {
    
    .containerLanguages {
        position: relative;
        width: 300px;
        height: 300px;
    }

    .personnalityIcon {
        width: 20%;
    }

    .titleHobby {
        transform: rotate(-90deg);
    }

    input[type="image"] {
        width: 100%;
    }

    .card {
        width: 80%;
        height: 100vh;
    }

    .card img {
        height: 40%;
        object-fit: cover;
    }
    
    .card-body {
        height: 60%;
    }
    
}