body {
    background-image: url(../img/24652959_i759.jpg);
    background-size: 500px;
}

.navbar {
    background-color: #b2956a;
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
}


.logo {
    width: 10%;
}

h2, h3 {
    font-family: 'Pacifico', cursive;
}

li {
    list-style: none;
}

section, footer {
    height: 50vh;
}

.bi {
    font-size: 3rem;
}